<div class="container mt-3 col-6">
  <div class="card">
    <div class="card-body">
      <div class="form-group col-8">
        <label>Please Select Meal Type</label>
        <select name="" id="" class="form-control" [(ngModel)]="foodlists.meal">
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
          <option value="snack">Snack</option>
        </select>
      </div>

      <div class="mt-3"></div>

      <div class="form-group mb-4">
        <h5>Insert in Food Bank:</h5>
        <div class="row">
          <div class="col-4">
            <label>Date</label>
            <input
              type="date"
              data-date-format="yyyy-MM-dd"
              class="form-control mb-4"
              [(ngModel)]="foodlists.dateEaten"
              [(ngModel)]="foodlists.createdOn"
              [(ngModel)]="foodlists.lastUpdatedOn"
            />
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <label>Name</label>
            <input
              type="text"
              class="form-control mb-4"
              [(ngModel)]="foodlists.name"
            />
          </div>
        </div>

        <div class="row"></div>

        <div class="row">
          <div class="col-2">
            <label>Calories</label>
            <input
              type="number"
              class="form-control"
              min="0"
              [(ngModel)]="foodlists.calorie"
            />
          </div>
          <div class="col-2">
            <label>Quantity</label>
            <input
              type="number"
              class="form-control"
              min="0"
              max="100"
              [(ngModel)]="foodlists.quantity"
            />
          </div>
          <div class="col-4">
            <label>Servings</label>
            <select
              name=""
              id=""
              class="form-control"
              [(ngModel)]="foodlists.measure"
            >
              <option selected disabled></option>
              <option value="slice">slice</option>
              <option value="piece">piece</option>
              <option value="gram">gram</option>
              <option value="liter">liter</option>
              <option value="cup">cup</option>
              <option value="glass">glass</option>
              <option value="tbsp">tbsp</option>
              <option value="small">small</option>
              <option value="medium">medium</option>
              <option value="large">large</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-2 mb-4"
    (click)="btnClicked()"
  >
    Add Food
  </button>
</div>
